@model Cookbook_Web_App.Models.Recipe

@{
    ViewData["Title"] = "Details";

    Layout = "_Layout";
}
@Model.ID
@Model.Name
<h1>My Recipes</h1>
<div>
    <h2>Details of @Model.Name</h2>

    <div>

        <div>
            @foreach (var item in Model.Instructions)
            {

                <p>@item.stepNumberID @item.action</p>
            }
        </div>
        <div>
            @*@Html.DisplayNameFor(model => model.Instructions) :
                @Html.DisplayFor(model => model.Instructions)*@
        </div>
        <div>
            @foreach (var item in Model.Ingredients)
            {

                <p>@item.Quantity @item.Name</p>
            }
        </div>
    </div>
</div>
<form asp-action="RedirectToDetails" >
    <input type="hidden" value="SavedRecipeID" asp-for="ID" />
    <input type="submit" value="View Notes"/>
</form>

