@model Cookbook_Web_App.Models.SavedRecipe

@{
    ViewData["Title"] = "Details";

    Layout = "_Layout";
}

<h1>My Recipes</h1>
<div>
    <h2>Details of @Model.SavedRecipeID</h2>

    <div>
        <div>
            @Html.DisplayNameFor(model => model.SavedRecipeID) :
            @Html.DisplayFor(model => model.SavedRecipeID)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Instructions) :
            @Html.DisplayFor(model => model.Instructions)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Comments) :
            @Html.DisplayFor(model => model.Comments)
        </div>
    </div>
    </div>
<a asp-action="Index">Back to List</a>

