@model Cookbook_Web_App.Models.Recipe

@{
    ViewData["Title"] = "Details";

    Layout = "_Layout";
}

<div>
    <h3>@Model.Name</h3>
    <form asp-action="RedirectToDetails">
        <input type="hidden" value="SavedRecipeID" asp-for="ID" />
        <input type="submit" value="View Notes" class="input-button" />
    </form>
    <img src="@Model.ImageURL" class="img-rounded" alt="">
    <div>

        <h4>Ingredients</h4>
        <div>
            @foreach (var item in Model.Ingredients)
            {

                <p>@item.Quantity @item.Name</p>
            }
        </div>
        <h4> Instructions </h4>

        <div>
            @foreach (var item in Model.Instructions)
            {

                <p>@item.stepNumberID) @item.action</p>
            }
        </div>
        <div>
            @*@Html.DisplayNameFor(model => model.Instructions) :
                @Html.DisplayFor(model => model.Instructions)*@
        </div>
    </div>
</div>
<form asp-action="RedirectToDetails" >
    <input type="hidden" value="SavedRecipeID" asp-for="ID" />
    <input type="submit" value="View Notes" class="input-button"/>
</form>

