@model IEnumerable<Cookbook_Web_App.Models.Comments>

@{ 
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1> Comments Test Layout</h1>

<div>
    <form>
        <input type="submit" formaction="@Url.Action("RedirectToSave")" value="My Saved Recipes" class="btn btn-primary" />
    </form>
    @foreach (var item in Model)
    {

    <div>
        @Html.DisplayFor(modelItem => item.Comment)
        <form>
            @Html.ActionLink("Edit", "Edit", new { item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { item.ID }) |

            <input type="submit" formaction="@Url.Action("RedirectToSave")" value="View Recipe" class="input-button" />
        </form>
    </div>

    }

</div>