@model IEnumerable<Cookbook_Web_App.Models.Comments>

@{ 
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h4>All Notes</h4>

<div>


    <form asp-controller="SavedRecipe" asp-action="Index">
        <input type="submit" value="My Saved Recipes" class="input-button" />

    </form>
    @foreach (var item in Model)
    {

    <div>
        <p>Note: @Html.DisplayFor(modelItem => item.Comment)</p>
        </div>
    <div>
        <p>Recipe Name: @Html.DisplayFor(modelItem => item.Name)</p>
    </div>
    <div>
        <form>
            @Html.ActionLink("Edit", "Edit", new { item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { item.ID }) |
        </form>
        <form asp-controller="SavedRecipe" asp-action="Details" asp-route-id="@item.SavedRecipeID" style="display:inline">
            <input type="submit" value="View Recipe" class="input-button" />
        </form>
    </div>

    }

</div>