@model Cookbook_Web_App.Models.User

@{
    ViewData["Title"] = "Index";

    Layout = "_Layout";
}
<div id="user-contain">
    <section>
        <div id="pro-image">
            <img src="~/pine-face1.png" alt="Recipe Image">

            <p id="username"> @Model.UserName</p>

            <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
            <a asp-action="Logout" asp-route-id="@Model.ID">Logout</a>
        </div>
        <div id="user-control">
            <form asp-controller="Comments" asp-action="Index" asp-route-id="@Model.ID" style="display:inline">
                <input type="submit" value="View All Notes" id="body-but" class="search-button input-button"/>
            </form>
        </div>
    </section>
</div>
